.zz-text06 {
  font-size: 0.6rem;
}

.br-1 {
  border-radius: 0.25rem;
}
.br-4 {
  border-radius: 1rem;
}
.brt-1 {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.brb-1 {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.brbl-1 {
  border-bottom-left-radius: 0.25rem;
}
.brl-1 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.p-05 {
  padding: 0.125rem;
}
.px-05 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.m-05 {
  margin: 0.125rem;
}
.mx-05 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
.my-05 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.zz-hr-gray {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.zz-hr-white {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.levelVal {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.zzBtn1 {
  font-size: 0.6rem;
  display: block;
  color: black;
  background: linear-gradient(
    0deg,
    rgba(175, 174, 176, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border: 1px solid rgba(53, 53, 59, 0.7);
  box-shadow: inset 1px 1px 2px -0.4px rgb(229, 228, 229);
  border-radius: 9999px;
  padding: 0.125rem 0.25rem;
}
.zzBtn2 {
  // color: black;
  // background: rgb(215, 224, 224);
  // background: linear-gradient(
  //   180deg,
  //   rgba(215, 224, 224, 1) 0%,
  //   rgba(214, 223, 223, 1) 50%,
  //   rgba(172, 178, 180, 1) 50%,
  //   rgba(202, 207, 211, 1) 100%
  // );
  // border: 1px solid rgb(137, 141, 148);
  // border-radius: 0.25rem;
  // padding-top: 0.25rem;
  // padding-bottom: 0.25rem;
  display: block;
  color: black;
  background: linear-gradient(
    0deg,
    rgba(175, 174, 176, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border: 1px solid rgba(53, 53, 59, 0.7);
  box-shadow: inset 1px 1px 2px -0.4px rgb(229, 228, 229);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}
.zzBtnCopy {
  display: inline-block;
  color: black;
  background: linear-gradient(
    0deg,
    rgba(175, 174, 176, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border: 1px solid rgba(53, 53, 59, 0.7);
  box-shadow: inset 1px 1px 2px -0.4px rgb(229, 228, 229);
  border-radius: 0.25rem;
  padding: 0 0.25rem;
}

.zzQualityChoise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > label {
    flex: 1;
    text-align: center;
    // color: #000;
    // background-color: #f0f4f4;
    // border: 1px solid #b4b4b4;
    // border-radius: 0.25rem;
    // padding: 0 0.25rem;
    display: block;
    color: black;
    background: linear-gradient(
      0deg,
      rgba(175, 174, 176, 1) 0%,
      rgba(241, 241, 241, 1) 100%
    );
    border: 1px solid rgba(53, 53, 59, 0.7);
    box-shadow: inset 1px 1px 2px -0.4px rgb(229, 228, 229);
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
    &.active {
      background: #fffca0;
      border: 1px solid #f1f658;
    }
  }
  input[type='radio'] {
    display: none;
    appearance: none;
  }
}

.zz-hashtag {
  color: black;
  background-color: #5fcffa;
  padding: 0 0.25rem 0 0.25rem;
  border-radius: 0.25rem;
}
.zzCategoryHeaderLong {
  font-size: 0.6rem;
  // background-color: rgb(76, 79, 80);
  background-color: #4c4f50;
  padding: 0 0.25rem 0 0.25rem;
  margin: 0.5rem 0 0 0;
}
.zzCategoryHeaderShort {
  display: inline-block;
  font-size: 0.6rem;
  // background-color: #747272;
  background-color: #4c4f50;
  padding: 0 0.5rem;
  margin: 0.5rem 0 0 0;
}
.zzCategoryHeaderBig {
  font-size: 0.9rem;
  background-color: #4c4f50;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0 0.25rem 0;
}

.zzBodyFeature {
  background-color: rgb(2, 4, 5);
  border: 1px solid #73e6ea;
  border-radius: 0.25rem;
  min-width: 130px;
  .zzBodyFeature-Floor {
    background: radial-gradient(
      circle,
      rgba(2, 4, 5, 1) 0%,
      rgba(55, 93, 116, 1) 75%
    );
    border-radius: 0.25rem;
  }
  .zzBodyFeature-Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .zzBodyFeature-Label {
    font-size: 0.6rem;
    text-align: center;
    background-color: #5fcffa;
    color: black;
    margin: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    line-height: 1;
  }
  .zzBodyFeature-Text {
    margin: 0.25rem;
    flex: 1;
    text-align: right;
  }
}

.zzAnton {
  font-family: 'Fjalla One', sans-serif;
}

.zzBg-black {
  background-color: rgb(22, 30, 30);
}
.zzBg-gray1 {
  color: #fff;
  background-color: #85898a;
}
.zzBg-gray2 {
  color: #fff;
  background-color: #666464;
}
.zzBg-gray3 {
  color: #fff;
  background-color: rgb(128, 131, 131);
}
.zzBg-grid {
  color: #eee;
  background-color: #505657;
  background-image: url('/bg_grid_w.svg');
  background-size: 32px;
}
.zzBg-checker {
  color: #fff;
  position: relative;
  background: linear-gradient(
    180deg,
    hsla(144, 3%, 27%, 1) 0%,
    hsla(168, 5%, 18%, 1) 30%,
    hsla(168, 5%, 18%, 1) 70%,
    hsla(144, 3%, 27%, 1) 100%
  );
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg_check_w.svg');
    background-size: 42px;
    z-index: 2;
  }
}
.zzBg-grit {
  color: #fff;
  position: relative;
  background: linear-gradient(
    0deg,
    hsla(206, 65%, 27%, 1) 0%,
    hsla(206, 65%, 18%, 1) 30%,
    hsla(206, 65%, 18%, 1) 70%,
    hsla(206, 65%, 27%, 1) 100%
  );
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg_grit_b.svg');
    background-size: 42px;
    z-index: 2;
  }
}
.zz_headgray {
  color: black;
  height: 1.2rem;
  font-size: 0.6rem;
  background: linear-gradient(
    0deg,
    rgba(178, 178, 171, 1) 0%,
    rgba(211, 212, 208, 1) 100%
  );
  border: 1px solid #b5babd;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
}
.zz-footgray {
  color: black;
  height: 1.2rem;
  line-height: 1.2;
  font-size: 0.6rem;
  background: #b9bab6;
  border: 1px solid #b5babd;
  border-radius: 0 0 0.25rem 0.25rem;
}
.zz-headblack {
  color: #fff;
  height: 1.2rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  background-color: #20272a;
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.125rem 0 0.125rem 0.25rem;
}
.zz-footwhite {
  color: black;
  height: 1.2rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  background-color: #f0f4f4;
  border: none;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
}
