html {
  background-color: #666464;
}

.root {
  margin: 0 auto;
  max-width: 100vmax;
  min-height: 100vh;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.text-xxs {
  font-size: 0.6rem;
}

.zzAnton {
  font-family: 'Fjalla One', sans-serif;
}

.zzBg-black {
  background-color: rgb(22, 30, 30);
}

.zzBg-gray1 {
  color: #fff;
  background-color: #85898a;
}

.zzBg-gray2 {
  color: #fff;
  background-color: #666464;
}

.zzBg-gray3 {
  color: #fff;
  background-color: rgb(128, 131, 131);
}

.zzBtn1 {
  display: block;
  color: black;
  font-size: 0.6rem;
  padding: 0.2em 1em;
  background: linear-gradient(
    0deg,
    rgba(175, 174, 176, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border: 1px solid rgba(53, 53, 59, 0.7);
  box-shadow: inset 1px 1px 2px -0.4px rgb(229, 228, 229);
  border-radius: 9999px;
}

.zzBtn2 {
  color: black;
  background: rgb(215, 224, 224);
  background: linear-gradient(
    180deg,
    rgba(215, 224, 224, 1) 0%,
    rgba(214, 223, 223, 1) 50%,
    rgba(172, 178, 180, 1) 50%,
    rgba(202, 207, 211, 1) 100%
  );
  border: 1px solid rgb(137, 141, 148);
}

.zzCheckerBg {
  position: relative;
  background: linear-gradient(
    180deg,
    hsla(144, 3%, 27%, 1) 0%,
    hsla(168, 5%, 18%, 1) 30%,
    hsla(168, 5%, 18%, 1) 70%,
    hsla(144, 3%, 27%, 1) 100%
  );

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg_check_w.svg');
    background-size: 42px;
    z-index: 2;
  }
}

.zzCategoryHeader {
  font-size: 0.6rem;
  padding: 0.2rem 0.5rem;
  background-color: #4c4f50;
}

.zzQualityChoise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: normal;
  > label {
    flex: 1;
    text-align: center;
    color: #000;
    background-color: #f0f4f4;
    border: 1px solid #b4b4b4;
    border-radius: 0.2rem;
    padding: 5px 0;
    margin: 2px;
    &.active {
      background-color: #fffca0;
      border: 1px solid #f1f658;
    }
  }
  input[type='radio'] {
    display: none;
    appearance: none;
  }
}

.BodyFeature {
  background-color: rgb(2, 4, 5);
  border: 1px solid #73e6ea;
  border-radius: 4px;
  min-width: 130px;

  .BodyFeature-Floor {
    background: radial-gradient(
      circle,
      rgba(2, 4, 5, 1) 0%,
      rgba(55, 93, 116, 1) 75%
    );
    border-radius: 3px;
  }
  .BodyFeature-Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }
  .BodyFeature-Label {
    font-size: 0.6rem;
    text-align: center;
    background-color: #5fcffa;
    color: black;
    padding: 2px 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
    white-space: nowrap;
    line-height: 1;
  }
  .BodyFeature-Hr {
    margin: 0.2em 0;
    border: 0;
    border-bottom: 1px solid #59a6f2;
  }
  .BodyFeature-Text {
    flex: 1;
    font-size: 0.7rem;
    text-align: right;
  }
}

.Apti {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Anton', sans-serif;
  border: 1px solid black;
}

.hexagon {
  position: relative;
  width: 20px;
  overflow: hidden;
  &::before {
    display: block;
    padding-top: 86.602540378%; /*  2√3 / 4 x 100  */
    content: '';
  }
  .hexagon__inner-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
  }
  .hexagon__inner-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
  }
  .hexagon__inner-3 {
    width: 100%;
    height: 100%;
    transform: rotate(-120deg);
  }
  .hexagon__inner-image {
    width: 100%;
    height: 100%;
  }
}
