html {
  background-color: #666464;
}

.root {
  margin: 0 auto;
  max-width: 100vmax;
  min-height: 100vh;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.txt-base {
  font-size: 0.75rem;
  font-weight: normal;
}

.br-1 {
  border-radius: 0.25rem;
}

.br-4 {
  border-radius: 1rem;
}

.brt-1 {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.brb-1 {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.brbl-1 {
  border-bottom-left-radius: 0.25rem;
}

.brl-1 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.p-05 {
  padding: 0.125rem;
}

.px-05 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.m-05 {
  margin: 0.125rem;
}

.mx-05 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.my-05 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.xxHr-gray {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.xx-category {
  font-size: 0.6rem;
  background-color: rgb(76, 79, 80);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.xx-titlebar {
  padding: 0.125rem 0.25rem;
  color: #fff;
  letter-spacing: -0.05em;
  background-color: #20272a;
  line-height: 1.2;
}

.levelChoise {
  > * {
  }
}

.levelVal {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.hashtag {
  color: black;
  background-color: #5fcffa;
}

.copyright {
  font-size: 0.6rem;
}

.tapToCopy {
  display: inline-block;
  color: black;
  background: linear-gradient(
    0deg,
    rgba(175, 174, 176, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border: 1px solid rgba(53, 53, 59, 0.7);
  box-shadow: inset 1px 1px 2px -0.4px rgb(229, 228, 229);
  border-radius: 0.25rem;
}

.zzBtn1 {
  font-size: 0.6rem;
  display: block;
  color: black;
  background: linear-gradient(
    0deg,
    rgba(175, 174, 176, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border: 1px solid rgba(53, 53, 59, 0.7);
  box-shadow: inset 1px 1px 2px -0.4px rgb(229, 228, 229);
  border-radius: 9999px;
  padding: 0.125rem 0.5rem;
}

.zzBtn2 {
  color: black;
  background: rgb(215, 224, 224);
  background: linear-gradient(
    180deg,
    rgba(215, 224, 224, 1) 0%,
    rgba(214, 223, 223, 1) 50%,
    rgba(172, 178, 180, 1) 50%,
    rgba(202, 207, 211, 1) 100%
  );
  border: 1px solid rgb(137, 141, 148);
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.zzCheckerBg {
  position: relative;
  background: linear-gradient(
    180deg,
    hsla(144, 3%, 27%, 1) 0%,
    hsla(168, 5%, 18%, 1) 30%,
    hsla(168, 5%, 18%, 1) 70%,
    hsla(144, 3%, 27%, 1) 100%
  );

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg_check_w.svg');
    background-size: 42px;
    z-index: 2;
  }
}

.zzCategoryHeader {
  font-size: 0.6rem;
  padding: 0.25rem 0.5rem;
  background-color: #4c4f50;
}

.zzCategoryHeaderBig {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  background-color: #4c4f50;
}

.zzQualityChoise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > label {
    flex: 1;
    text-align: center;
    color: #000;
    background-color: #f0f4f4;
    border: 1px solid #b4b4b4;
    border-radius: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    &.active {
      background-color: #fffca0;
      border: 1px solid #f1f658;
    }
  }
  input[type='radio'] {
    display: none;
    appearance: none;
  }
}

.zzAnton {
  font-family: 'Fjalla One', sans-serif;
}

.zzBg-black {
  background-color: rgb(22, 30, 30);
}

.zzBg-gray1 {
  color: #fff;
  background-color: #85898a;
}

.zzBg-gray2 {
  color: #fff;
  background-color: #666464;
}

.zzBg-gray3 {
  color: #fff;
  background-color: rgb(128, 131, 131);
}

.BodyFeature {
  background-color: rgb(2, 4, 5);
  border: 1px solid #73e6ea;
  border-radius: 0.25rem;
  min-width: 130px;

  .BodyFeature-Floor {
    background: radial-gradient(
      circle,
      rgba(2, 4, 5, 1) 0%,
      rgba(55, 93, 116, 1) 75%
    );
    border-radius: 0.25rem;
  }
  .BodyFeature-Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .BodyFeature-Label {
    font-size: 0.6rem;
    text-align: center;
    background-color: #5fcffa;
    color: black;
    margin: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    line-height: 1;
  }
  .BodyFeature-Hr {
    margin: 0.2em 0;
    border: 0;
    border-bottom: 1px solid #59a6f2;
  }
  .BodyFeature-Text {
    margin: 0.25rem;
    flex: 1;
    text-align: right;
  }
}

.Apti {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Anton', sans-serif;
  border: 1px solid black;
}

.hexagon {
  position: relative;
  width: 20px;
  overflow: hidden;
  &::before {
    display: block;
    padding-top: 86.602540378%; /*  2√3 / 4 x 100  */
    content: '';
  }
  .hexagon__inner-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
  }
  .hexagon__inner-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
  }
  .hexagon__inner-3 {
    width: 100%;
    height: 100%;
    transform: rotate(-120deg);
  }
  .hexagon__inner-image {
    width: 100%;
    height: 100%;
  }
}
